.container{
  display: flex;
  flex-direction:column;
  align-items: center;
  border: solid 1px blue;
  /* margin: 0 30rem 0 30rem; */
  background: #3aa;
}
.done {
  text-decoration: line-through;
}
